// set up a simple neutral simulation
initialize() {
	initializeMutationRate(1e-7);
	
	// m1 mutation type: neutral
	initializeMutationType("m1", 0.5, "f", 0.0);
	
	// g1 genomic element type: uses m1 for all mutations
	initializeGenomicElementType("g1", m1, 1.0);
	
	// read the Drosophila rate map from a file
	lines = readFile("~/Desktop/Comeron_100kb_chr2L.txt");
	rates = NULL;
	ends = NULL;
	
	for (line in lines) {
		components = strsplit(line, "\t");
		ends = c(ends, asInteger(components[0]));
		rates = c(rates, asFloat(components[1]));
	}
	
	ends = c(ends[1:(size(ends)-1)] - 2, 23011543);
	rates = rates * 1e-8;
	initializeRecombinationRate(rates, ends);
	
	// uniform chromosome using that recombination map
	initializeGenomicElement(g1, 0, 23011543);
}

// create a population of 500 individuals
1 {
	sim.addSubpop("p1", 500);
}

// output samples of 10 genomes periodically, all fixed mutations at end
1000 late() { p1.outputSample(10); }
2000 late() { p1.outputSample(10); }
200000 late() { sim.outputFixedMutations(); }
